/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ==================================================
  Box Model Outline
  ==================================================


*,
*:before,
*:after {
  border: 1px solid orange;
}

/*
  ==================================================
  Custom Styles
  ==================================================
*/

body {
  color: #888;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*
  ==================================================
  Grid
  ==================================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*
  ==================================================
  Typography
  ==================================================
*/



/*
  ==================================================
  Links
  ==================================================
*/

a {
  cursor:pointer;
  text-decoration:none;
}

a:visited {
  text-decoration:none;
}


/*
  ==================================================
  Navigation
  ==================================================
*/

.nav {
  text-align:right;
}

.nav li {
  display:inline-block;
}

#sign-in {
  background-color: blue;
  color: white;
  padding: 5px 10px;
}

/*
  ==================================================
  Search Bar
  ==================================================
*/

#search-bar {
  background-image: url("images/microphone.png") 0 0 no-repeat;
}

#search-bar input {
  display: block;
  margin: 10px auto;
}

#buttons {
  margin: auto;
  text-align: center;
}

.search-btn {
  padding: 5px 10px 5px 10px;
  background-color: gray;
  color: white;
  display: inline-block;
}


/*
  ==================================================
  Logo
  ==================================================
*/

#logo {
  display: block;
  background: url("images/google-logo.png") 50% 0 no-repeat;
  background-size: contain;
  width: 100%;
  height: 100px;
  margin-top: 130px;
}

/*
  ==================================================
  Footer
  ==================================================
*/

.footer {
  position: fixed;
  bottom: 0;
  padding: 10px 10px;
  display: inline-block;
  background-color: gray;
}

.footer ul {
  padding: 0;
}

.footer ul,
.footer ul li {
  display:inline-block;
}

#footer1 {
  width: 80%;
  left:-0.2

}

#footer2 {
  diplay:inline-block;
  right: 0;
  width: 20%;
  text-align: right;
}

/*
  ==================================================
  TESTING
  ==================================================
*/

div#test1 {
  width:200px;
  height:20px;
  background-color: red;
  margin: auto;
}

div#test2 {
  text-align: center;
}
