/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ==================================================
  Box Model Outline
  ==================================================


*,
*:before,
*:after {
  border: 1px solid orange;
}

/*
  ==================================================
  Custom Styles
  ==================================================
*/

body {
  color: #494949;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
}

/*
  ==================================================
  Grid
  ==================================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*
  ==================================================
  Typography
  ==================================================
*/



/*
  ==================================================
  Links
  ==================================================
*/

a {
  cursor:pointer;
  text-decoration:none;
  color: gray;
}

a:visited {
  text-decoration:none;
  color: gray;
}


/*
  ==================================================
  Navigation
  ==================================================
*/

.nav {
  text-align:right;
  margin: 15px 20px;
  font-size: 13px;
  color: #494949;
}

.nav li {
  display:inline-block;
  margin: 0 10px;
}

#sign-in {
  background: linear-gradient(#4D85DE, #3C7ADE);
  color: white;
  padding: 10px 15px;
  vertical-align: middle;
  font-weight: bold;
}

#apps-icon {
  vertical-align: middle;
}

#apps-icon>img {
  height: 26px;
  width: 26px;
}

/*
  ==================================================
  Search Bar
  ==================================================
*/

#search-bar {
  color: white;
  text-align: center;
  margin: 25px;
}

#search-bar input {
  display: inline-block;
  width: 34%;
  height: 32px;
  font-size: 16px;
  border: 1px solid #BFBFBF;
}

#search-bar input:focus {
  border: 1 solid blue;
}

#microphone {
  vertical-align: middle;
  position: relative;
  left: -2%;
  bottom: 3px;
  width: 22px;
  height: 24px;
}

#buttons {
  margin: auto;
  text-align: center;
  margin-top: 20px;
}

.search-btn {
  padding: 10px;
  background: linear-gradient(#F2F2F2, #E6E6E6);
  display: inline-block;
  font: bold 11px Arial;
  border: 1px solid #BFBFBF;
  margin: 0 5px;
}

.search-btn>a {
  color: #494949;
}

.search-btn>a:visited {
  color: #494949;
}

/*
  ==================================================
  Logo
  ==================================================
*/

#logo {
  display: block;
  background: url("images/google-logo.png") 50% 0 no-repeat;
  background-size: contain;
  height: 95px;
  margin-top: 145px;
}

/*
  ==================================================
  Footer
  ==================================================
*/

.footer {
  position: absolute;
  bottom: 0;
  padding: 10px 10px;
  display: inline-block;
  background-color: #F2F2F2;
}

.footer ul {
  padding: 3px ;
}

.footer ul,
.footer ul li,
.footer ul li>a {
  display:inline-block;
  color: #676767;
  margin: 0 5px;  
}

#footer1 {
  width: 80%;
}

#footer2 {
  diplay:inline-block;
  right: 0;
  width: 20%;
  text-align: right;
}

/*
  ==================================================
  TESTING
  ==================================================
*/

div#test1 {
  width:200px;
  height:20px;
  background-color: red;
  margin: auto;
}

div#test2 {
  text-align: center;
}
